<!DOCTYPE html>
<html>
<head>
  <title>Buying Canadian Dolars</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', '//assets.locaweb.com.br/locastyle/3.7.1/stylesheets/locastyle.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', '//assets.locaweb.com.br/locastyle/3.7.1/javascripts/locastyle.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
